[*.vb]

# IDE1006: Naming conventions
dotnet_diagnostic.IDE1006.severity = none

# BC42353: Function does not return a value on all code paths. Skip warning for conditional Returns
dotnet_diagnostic.BC42353.severity = none
